@import url("https://fonts.googleapis.com/css2?family=Damion&family=Libre+Baskerville:wght@400;700&family=Signika+Negative:wght@400;700&display=swap");

:root {
  --clr-brown-100: #ece0d1;
  --clr-brown-200: #dbc1ac;
  --clr-brown-300: #967259;
  --clr-brown-400: #634832;
  --clr-brown-500: #38220f;
  --clr-white: white;
  --clr-dark: #241916;
  --clr-alert: #cc3300;
  --std-transition: all 0.5s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
}

body {
  font-family: "Signika Negative", sans-serif;
  min-height: 100vh;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}

.page-container {
  margin-block: 1em;
}

.icon-btn {
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 1em 0.5em;
  margin-block: 1em;
  background: var(--clr-brown-100);
  color: var(--clr-brown-500);
  width: 100%;
  border: none;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: var(--std-transition);
}
.btn:hover {
  background: var(--clr-brown-300);
  color: var(--clr-brown-100);
}
.btn:active {
  background: var(--clr-brown-500);
  color: var(--clr-white);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.loader {
  width: 100%;
  min-height: 100px;
  display: grid;
  place-items: center;
}

/* Common qty selector */

.qty-selector-container {
  display: flex;
  align-items: center;
  padding-block: 5px;
}
.quantity-num {
  max-width: 80px;
  font-size: 1rem;
  border: 1px solid var(--clr-brown-200);
}
.add-qty,
.minus-qty,
.quantity-num {
  color: var(--clr-dark);
  background: var(--clr-white);
  padding: 8px 2px;
  align-self: stretch;
}

.quantity-num:focus {
  outline-color: var(--clr-brown-200);
}
.add-qty,
.minus-qty {
  border: 1px solid var(--clr-brown-200);
}

.add-qty:hover,
.minus-qty:hover {
  color: var(--clr-brown-300);
}
.add-qty:active,
.minus-qty:active {
  background: var(--clr-brown-300);
  color: var(--clr-white);
}

.add-qty {
  border-left: none;
}
.minus-qty {
  border-right: none;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  padding-top: 0.5em;
  z-index: 10;
  background: var(--clr-white, #fff);
}
.header-container {
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  position: relative;
  padding-top: 1em;
  margin: 0.5em;
  display: flex;
  transform: translate(10px);
}

.logo-image {
  max-height: 120%;
  width: auto;
  position: absolute;
  z-index: 1;
  left: -20px;
  bottom: 0;
}

.logo-text {
  font-family: "Damion", cursive;
  font-size: 1.5rem;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  line-height: 0;
  color: var(--clr-dark, black);
}

.cart-icon {
  position: relative;
}
.cart-icon[data-count="0"]::before {
  display: none;
}
.cart-icon::before {
  position: absolute;
  content: attr(data-count);
  font-size: 10px;
  display: grid;
  place-items: center;
  font-weight: bold;
  border-radius: 50%;
  top: -5px;
  right: -5px;
  height: 18px;
  width: 18px;
  background: var(--clr-brown-400);
  color: var(--clr-white);
}

nav {
  position: fixed;
  inset: 0 auto 0 0;
  background: var(--clr-white);
  z-index: 20;
  min-width: 200px;
  transform: translateX(-100%);
  padding: 1em;
  transition: var(--std-transition);
  display: flex;
  flex-direction: column;
}

.nav__list {
  list-style: none;
}
.nav__list > li {
  margin: 2em 1em;
}
.nav__link {
  position: relative;
  padding-block: 0.25em;
  transition: var(--std-transition);
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--clr-brown-500);
  width: 0%;
  height: 2px;
  transition: inherit;
}

.nav__link:hover {
  color: var(--clr-brown-400);
}

.nav__link:hover::after {
  width: 120%;
}

.show-menu {
  transform: translateX(0%);
}

.menu-close-btn {
  align-self: flex-end;
}

@media (min-width: 600px) {
  .menu-close-btn {
    display: none;
  }
  .mobile-menu {
    visibility: hidden;
  }
  nav {
    position: sticky;
    display: block;
    transform: translateX(0%);
    padding: 0.5em;
    width: 80%;
    margin-inline: auto;
    z-index: 1;
  }
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    text-align: center;
  }
  .nav__list > li {
    margin: 0;
  }
  .nav__link {
    padding: 0.5em;
  }
  .nav__link:hover::after {
    width: 100%;
  }
  .nav__link.active {
    background: red;
  }
}

@media (min-width: 780px) {
  .logo-image {
    left: -30px;
  }
  .logo-container {
    padding-top: 2.5em;
  }
  .logo-text {
    font-size: 2.5rem;
  }
}

/* Hero banner */
.hero-banner-container {
  min-height: 100px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
}
.banner__heading {
  grid-column: 1 /-2;
  grid-row: 1 / span 1;
  color: var(--clr-brown-500);
  z-index: 3;
  font-size: 2rem;
}
.banner__subheading {
  grid-column: 2/ -2;
  grid-row: 2 / span 1;
  color: var(--clr-brown-400);
  z-index: 3;
  font-size: 1.5rem;
}

.banner__gift-image {
  max-height: 100%;
  width: auto;
  transform: rotate(10deg);
  grid-column: 5 / span 2;
  grid-row: 1 / span 3;
  justify-self: flex-end;
  transition: var(--std-transition);
}

.hero-banner-container:hover .banner__gift-image {
  transform: rotate(0deg);
}

.banner__bag {
  grid-column: 1/ -1;
  grid-row: 1/ -1;
  background: var(--clr-brown-100, #fff);
  display: grid;
  grid-auto-flow: dense;
  overflow: hidden;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr auto;
  padding-block: 1em;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-banner-container p {
  grid-column: 3 / span 2;
  align-self: center;
  z-index: 3;
  color: var(--clr-dark, #000);
}

.banner__shipping {
  grid-column: 1/ -1;
  grid-row: 1/ -1;
  background-image: url("/banner.jpg");
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1em 0.5em;
  opacity: 1;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.current-banner {
  opacity: 1;
}

.banner__shipping .banner__heading {
  width: 70%;
  text-shadow: 2px 2px 5px var(--clr-white);
  line-height: 1.6;
}

@media (max-width: 850px) {
  .banner__bag {
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto auto;
    align-items: center;
    gap: 10px;
  }
  .banner__heading {
    font-size: 1.8rem;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  .banner__subheading {
    font-size: 1rem;
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
  }

  .banner__gift-image {
    max-height: 180px;
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
  }

  .hero-banner-container p {
    font-size: 0.8rem;
    grid-column: 1/ -1;
  }
}
@media (min-width: 1000px) {
  .banner__heading {
    font-size: 2.5rem;
  }
  .banner__subheading {
    font-size: 1.8rem;
  }
}

/* product list */
.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
  width: 90%;
  margin: 2em auto;
  justify-content: center;
}

.product-card {
  padding: 0.5em;
  position: relative;
}

.product-card::before {
  position: absolute;
  content: "View Details";
  font-size: 1.2rem;
  color: var(--clr-white);
  display: grid;
  place-items: center;
  border-radius: 5px;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--std-transition);
  pointer-events: none;
}

.product-card:hover::before {
  opacity: 1;
}
.product-card > a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  width: 100%;
  height: auto;
}

@media (min-width: 780px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Mini Cart */

.overlay {
  position: fixed;
  z-index: 10;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: var(--std-transition);
}
.show-overlay {
  opacity: 1;
  pointer-events: auto;
}

.mini-cart-container {
  position: fixed;
  inset: 0 0 0 auto;
  z-index: 20;
  min-width: 250px;
  max-width: 90vw;
  overflow-y: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: space-between;
  background: var(--clr-white);
  padding-inline: 1em;
  transform: translateX(100%);
  transition: var(--std-transition);
}

.mini-cart-container::-webkit-scrollbar {
  width: 6px;
}

.mini-cart-container::-webkit-scrollbar-track {
  background: var(--clr-brown-100, white);
}

.mini-cart-container::-webkit-scrollbar-thumb {
  background: var(--clr-brown-200);
  border-radius: 5px;
}

.show-cart {
  transform: translateX(0%);
}

.mini-cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.5em;
  border-bottom: 2px solid var(--clr-brown-200);
}
.mini-cart__empty {
  display: grid;
  place-items: center;
}

.mini-cart__item {
  margin-block: 1em;
  padding-inline: 5px;
  display: grid;
  grid-template-areas:
    "image text text remove"
    "selector selector price price";
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}
.mini-cart__item-text {
  grid-area: text;
  font-size: 0.8rem;
}

.mini-cart__item-name {
  font-family: "Signika Negative", sans-serif;
}
.mini-cart__price {
  grid-area: price;
  font-size: 1.2rem;
}

.remove-btn {
  color: var(--clr-brown-300);
  transition: var(--std-transition);
  grid-area: remove;
  font-size: 1.2rem;
}

.remove-btn:hover {
  color: var(--clr-alert);
}
.mini-cart__qty-selector {
  grid-area: selector;
  max-height: 40px;
  font-size: 0.8rem;
}
.mini-cart__qty-selector > input {
  max-width: 60px;
}

.mini-cart__summary > p {
  display: flex;
  justify-content: space-between;
}

.mini-cart__summary > p + p {
  margin-top: 0.5em;
}
.summary__total {
  border-top: 2px solid var(--clr-brown-200);
  padding-top: 0.5em;
}

/* footer */

footer {
  margin-top: auto;
  padding: 0.5em;
  background: var(--clr-dark);
  color: var(--clr-brown-100);
}

/* error */
.error__btn {
  max-width: 500px;
  display: block;
  margin: 1em auto;
}
